<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradesco.css" />


	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/bradseg_scripts.min.js"></script>

	<title>Cadastrar perfil</title>
</h:head>

<h:body>
	<ui:include src="../../menu.xhtml" />

	<div id="guia-construcao" class="content col-12 ">
		<div class="container">
			<h2 class="title-subsection font-red">Portal de Negócios do
				Parceiro</h2>
			<div class="row container">
				<h3 class="subtitle-section font-red">Cadastrar Perfil</h3>
			</div>
			<h5><h:outputText value="#{perfilBean.messageStatus}" /></h5><br/>
			<h:form>
					<div class="row">
						<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
							<div class="form-group">
								<h:outputLabel value="Perfil*" />
								<h:inputText placeholder="Perfil" maxlength="20"
									class="full-width habilitado"
									value="#{perfilBean.perfil.nmPerfil}" type="text"
									name="habilidade" id="perfil"/>
								<p:watermark for="perfil" value="Perfil"/>
							</div>
						</div>

						<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
							<div class="form-group mask-options">
								<h:outputLabel value="Descrição do perfil*" />
								<h:inputText placeholder="Supervisor de loja"
									class="full-width habilitado" maxlength="20"
									value="#{perfilBean.perfil.descPerfil}" type="text"
									name="habilidade" id="descricaoPerfil"/>
								<p:watermark for="descricaoPerfil" value="Descrição do perfil"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col12 col-lg-4 col-left pad-left box-ident-inputs">
							<div class="form-group">
								<h:outputLabel value="Indicador*" />
								<h:selectOneMenu placeholder="" class="full-width habilitado"
									type="text" name="habilitado"
									value="#{perfilBean.perfil.indicador}">
									<f:selectItem itemValue="Ativo" itemLabel="Ativo" />
									<f:selectItem itemValue="Inativo" itemLabel="Inativo" />
								</h:selectOneMenu>
							</div>
						</div>
					</div>

					<div class="row col-top-buffer">
						<div class="col-xs-12">
							<h:form>
								<h:commandButton class="bradseg-btn red" value="Incluir"
									action="#{perfilBean.gravarPerfil}" />
								<h:commandButton class="bradseg-btn red" onclick="/fpdv/home.xhtml" value="Voltar" />
							</h:form>
						</div>
					</div>
			</h:form>
		</div>
	</div>
</h:body>
</html>