<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<link type="text/css" rel="stylesheet" href="bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/bradesco.css" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>
	<title>Error</title>
</h:head>

<h:body>

<div class="container col-12">
           		<ui:include src="../../menu.xhtml"/>
        

            <div class="bsbg"> 
                    <h2 class="title-subsection-mod font-red">
                        Á pagina digitada não foi encontrada!
                    </h2>

                    <div class="row container">
                        <h3 class="subtitle-section font-red" align="">Administrador</h3>
                    </div>

                    <p class="font-OS-Regular font18px">
                        A página informada não foi encontrada. Reveja a url digitada e tente novamente. Caso o problema persista, entre em contato com o administrador
                    </p>
				
				<!--  
                <div class="ptop">    
                    <div>
                        
                           <div class="row container-fluid elem-center">
                                  
                                    <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 btn-position">
                                                <button class="bradseg-btn red  btn-block" type="submit">Incluir</button>
									<div class="col-lg-3"></div>
								</div>

                                            <div class="col-md-4 col-lg-4 btn-position">
                                                <button class="bradseg-btn red  btn-block">Excluir</button>
                                            </div>
                                        </div>       

                                    </div>
                          </div>​

                    </div>

                    <div>
                        <div class="col-lg-3"> </div>
                           <div class="row container-fluid elem-center">
    
                                    <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 btn-position">
                                                <button class="bradseg-btn red  btn-block">Alterar</button>
                                            </div>

                                            <div class="col-md-4 col-lg-4 btn-position">
                                                <button class="bradseg-btn red  btn-block">Consultar</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>​
                    </div>
                </div>
                -->
                
                <div class="col-md-4 col-lg-4 btn-position">
                	<a href="home.xhtml">
                		<button class="bradseg-btn red  btn-block">Página inicial</button>
                	</a>
                 </div>
            </div>
	</div>
</h:body>
</html>