<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="bootstrap/stylesMod.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/bradesco.css" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>
</h:head>

<h:body>

	<div id="guia-construcao" class="content col-6 col-lg-12">
		<div class="container">
			<h2 class="title-subsection-mod font-red">Portal de Negócios do
				Parceiro</h2>
			<div class="row container">
				<h3 class="subtitle-section-mod font-red">Alterar Produto</h3>
			</div>

			<h:form>
				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bar">
							<h:outputLabel value="Nome de Usuário" />
							<input placeholder="Nome de usuário"
								class="full-width habilitado" type="text" name="habilitado" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="CPF" />
							<input placeholder="000.000.000-00" class="full-width"
								type="text" name="habilitado" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Perfil" />
							<input placeholder="Supervisor" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label>Selecione abaixo</label> <input id="chk1" type="checkbox" /><label
								for="chk1" style="padding-top: 20px;"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Diretor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>



				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bar">
							<h:outputLabel value="Parceiro" />
							<input placeholder="Nome do parceiro"
								class="full-width habilitado" type="text" name="habilitado" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left">
						<div class="form-group">
							<h:outputLabel value="Indicador" />
							<h:selectOneMenu value="" class="full-width habilitado"
								type="text" name="habilitado">
								<f:selectItem itemValue="0" itemLabel="Ativo" />
								<f:selectItem itemValue="1" itemLabel="Inativo" />
							</h:selectOneMenu>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk2" type="checkbox" /><label
								for="chk2" style="padding-top: 34px"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Gerente Regional</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>

				</div>



				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Data Início*" />
							<h:selectOneMenu value="" class="full-width habilitado"
								type="text" name="habilitado">
								<f:selectItem itemValue="0" itemLabel="Selecione uma data" />
								<f:selectItem itemValue="1" itemLabel="27/03/2019" />
								<f:selectItem itemValue="2" itemLabel="28/03/2019" />
							</h:selectOneMenu>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Data Fim*" />
							<h:selectOneMenu value="" class="full-width" type="text"
								name="habilitado">
								<f:selectItem itemValue="0" itemLabel="Selecione uma data" />
								<f:selectItem itemValue="1" itemLabel="27/03/2019" />
								<f:selectItem itemValue="2" itemLabel="28/03/2019" />
							</h:selectOneMenu>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk2" type="checkbox" /><label
								for="chk2" style="padding-top: 40"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Gerente Comercial</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk2" type="checkbox" /><label
								for="chk2"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Supervisor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk" >
							<input id="chk2" type="checkbox" /><label
								for="chk2"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Vendedor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>
				</div>

			</h:form>
		</div>
	</div>

</h:body>
</html>