<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<link type="text/css" rel="stylesheet"
		href="bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap/bradesco.css" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>
	
	<title>Home</title>
</h:head>

<h:body>

	<div class="container col-12">

		<ui:include src="menu.xhtml"/>

		<div class="bsbg">
			<h2 class="title-subsection font-red">Portal de Negócios do
				Parceiro</h2>

			<div class="row container">
				<h3 class="subtitle-section font-red">Administrador</h3>
			</div>

			<p class="font-OS-Regular font18px">
				O perfil administrador é um facilitador para o cadastro de perfis.<br />
				Ele permite realizar a inclusão, alteração, exclusão e consulta dos
				perfis do sistema.
			</p>

			<div class="ptop" style="margin-left: 280px; margin-top: 40px;">
				<div>

					<div class="row container-fluid elem-center center-block" align="center">

						<div class="col-lg-12 center-block" align="center">

							<div class="row justify-content-md-center" align="center">
								<div class="col-md-4 col-lg-4 center-block" align="center">
									<!-- <button class="bradseg-btn red btn-block" type="submit">Incluir</button> -->

									<button class="bradseg-btn red btn-block dropdown-toggle"
										id="menu1" type="button" data-toggle="dropdown"
										value="Incluir">
										Incluir<span class="caret"></span>
									</button>
								<ul class="bradseg-btn red btn-block dropdown-menu " role="menu"
										aria-labelledby="menu1">
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/perfil/CadastrarPerfil.xhtml">Perfil</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/usuario/cadastrar-usuario.xhtml">Usúario</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/parceiro/cadastrar-parceiro.xhtml">Parceiro</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/produto/cadastrar-produto.xhtml">Produto</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/loja/cadastrar-lojas.xhtml">Loja</a></li>
									</ul>
								</div>

								<div class="col-md-4 col-lg-4 btn-position">
									<button class="bradseg-btn red btn-block dropdown-toggle"
										id="menu1" type="button" data-toggle="dropdown"
										value="Incluir">
										Alterar<span class="caret"></span>
									</button>
									<ul class="bradseg-btn red btn-block dropdown-menu" role="menu"
										aria-labelledby="menu1">
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/perfil/BuscarPerfilAlterar.xhtml">Perfil</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/usuario/buscar-alterar-usuario.xhtml">Usúario</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/parceiro/buscarParceiroAlterar.xhtml">Parceiro</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/produto/buscar-alterar-produto.xhtml">Produto</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/loja/buscarLojaAlterar.xhtml">Loja</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					​

				</div>

				<div>
					<div class="col-lg-3"></div>
					<div class="row container-fluid elem-center center-block" align="center">

						<div class="col-lg-12 center-block" align="center">

							<div class="row justify-content-md-center" align="center">
								<div class="col-md-4 col-lg-4 btn-position center-block" align="center">
									<button class="bradseg-btn red btn-block dropdown-toggle"
										id="menu1" type="button" data-toggle="dropdown"
										value="Incluir">
										Consultar<span class="caret"></span>
									</button>
								<ul class="bradseg-btn red btn-block dropdown-menu" role="menu"
										aria-labelledby="menu1">
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/perfil/BuscarPerfil.xhtml">Perfil</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/usuario/buscar-usuario.xhtml">Usúario</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/parceiro/buscar-parceiro.xhtml">Parceiro</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/produto/buscar-produto.xhtml">Produto</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/loja/buscarLoja.xhtml">Loja</a></li>
									</ul>
								</div>

								<div class="col-md-4 col-lg-4 btn-position">
									<button class="bradseg-btn red btn-block dropdown-toggle"
										id="menu1" type="button" data-toggle="dropdown"
										value="Incluir">
										Excluir<span class="caret"></span>
									</button>
									<ul class="bradseg-btn red btn-block dropdown-menu" role="menu"
										aria-labelledby="menu1">
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/perfil/buscarPerfilExcluir.xhtml">Perfil</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/usuario/buscar-excluir-usuario.xhtml">Usúario</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/parceiro/buscarParceiroExcluir.xhtml">Parceiro</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/produto/buscar-excluir-produto.xhtml">Produto</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="pages/loja/buscaLojaExcluir.xhtml">Loja</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					​
				</div>
			</div>
		</div>
	</div>

</h:body>
</html>