<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
		<title>FPDV WebApplication</title>
	</h:head>
	
	<h:body>
		
		<h:outputText value="FPDV"/>
		
		<h:outputLabel value="Nome:"/>
		<h:outputText value="#{userBean.userTest.name}"/>
		<h:commandButton action="#{userBean.save()}" value="Salvar usuario mocado" />
	</h:body>
</html>