           <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
           
            <div class="row nav-main-menu">
                <ul>
                    <h:button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"
                    aria-expanded="false">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </h:button>

                     <li class="brand">
                        <a href="/fpdv/home.xhtml">
                            <img class="logo-bradseg hidden-sm" src="${facesContext.externalContext.requestContextPath}/logo.svg" data-grayscale="${facesContext.externalContext.requestContextPath}/logo.svg"
                                data-highcontrast="${facesContext.externalContext.requestContextPath}/logo.svg"/>
                            <img class="logo-bradseg visible-sm" src="${facesContext.externalContext.requestContextPath}/logo.svg" data-grayscale="${facesContext.externalContext.requestContextPath}/logo.svg"
                                data-highcontrast="${facesContext.externalContext.requestContextPath}/logo.svg"/>
                        </a>
                    </li>
                    
                    <li id="nav-menu" class="dropdown-items navbar-collapse collapse">
                        <ul>
                            <li class="dropdown navbar-item">
                                <a href="/fpdv/home.xhtml">Home</a>
                            </li>

                            <li class="dropdown navbar-item">
                                <a href="javascript:;" data-toggle="dropdown" data-hover="dropdown" role="button" aria-expanded="false"
                                    class="dropdown-toggle">
                                    Opções<span class="icon-seta-baixo-b"></span>
                                </a>
                                <ul role="menu" class="dropdown-menu" style="width:100%;">
                                    <li><a href="pages/perfil/CadastrarPerfil.xhtml" class="dropdown-item"><span class="icon-seta-direita-b"></span>Perfil</a></li>
                                    <li><a href="pages/usuario/cadastrar-usuario.xhtml" class="dropdown-item"><span class="icon-seta-direita-b"></span>Usuário</a></li>
                                    <li><a href="pages/parceiro/cadastrar-parceiro.xhtml" class="dropdown-item"><span class="icon-seta-direita-b"></span>Parceiro</a></li>
                                    <li><a href="pages/produto/cadastrar-produto.xhtml" class="dropdown-item"><span class="icon-seta-direita-b"></span>Produto</a></li>
                                    <li><a href="pages/loja/cadastrar-lojas.xhtml" class="dropdown-item"><span class="icon-seta-direita-b"></span>Loja</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                        <li class="nav-login">
                            <a href="javascript:;">
                                <span class="icon-nav-login"></span>
                                <span class="login-text">Login</span>
                            </a>
                        </li>
                </ul>


            </div>
            </html>