<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradesco.css" />


	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>

	<title>Buscar Produto</title>
</h:head>

<h:body>
	<ui:include src="../../menu.xhtml"/>
	<div id="guia-construcao" class="content col-12 col-lg-12">
		<div class="container">
			<h2 class="title-subsection font-red">Portal de Negócios do
				Parceiro</h2>
		
			<div class="row container">
				<h3 class="subtitle-section font-red">Buscar Produto</h3>
			</div>
			<h:form>
				<div class="row">
					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Nome do Produto" />
							<!-- 
						<input placeholder="Loja 1" type="text" name="habilitado" class="full-width habilitado"/>
						 -->
							<h:selectOneMenu class="full-width habilitado" value="#{cadastrarProdutoBean.idProduto}">
								<f:selectItems value="#{cadastrarProdutoBean.produtos}"
									var="produto" itemValue="#{produto.id}"
									itemLabel="#{produto.nomeProd}" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>
				<div class="row col-top-buffer">
					<div class="col-xs-12">
						<h:commandButton class="bradseg-btn red" value="Buscar"
							action="#{cadastrarProdutoBean.buscaProduto}" />
						<h:commandButton class="bradseg-btn red" onclick="window.history.back()" value="Voltar" />
					</div>
				</div>
			</h:form>

		</div>
	</div>

</h:body>
</html>