<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="../../bootstrap/bradescos" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>
	
	<title>Cadastrar Produto</title>
</h:head>

<h:body>
	<ui:include src="../../menu.xhtml"/>


	<div id="guia-construcao" class="content col-12 ">
		<div class="container">
			<h2 class="title-subsection-mod font-red">Portal de Negócios do
				Parceiro</h2>
			<div class="row container">
				<h3 class="subtitle-section-mod font-red">Cadastrar Produto</h3>
			</div>

			<h:form>
				<h5><h:outputText value="#{cadastrarProdutoBean.messageStatus}" /></h5><br />
				<div class="row">
					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Produto*" />
							<h:inputText placeholder="Nome do Produto" maxlength="20" class="full-width"
								type="text" name="example"
								value="#{cadastrarProdutoBean.produto.nomeProd}" id="nomeProduto"/>
							<p:watermark for="nomeProduto" value="Nome do Produto"/>
						</div>
					</div>

					<div class="col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Descrição do Produto*" />
							<h:inputText placeholder="Descrição do Produto" maxlength="40"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{cadastrarProdutoBean.produto.descProd}" id="descricaoProduto"/>
								<p:watermark for="descricaoProduto" value="Descrição do Produto"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Indicador*" />
							<h:selectOneMenu
								value="#{cadastrarProdutoBean.produto.indicador}"
								class="full-width" type="text">
								<f:selectItems
									value="#{cadastrarProdutoBean.selectIndicador}" />
							</h:selectOneMenu>
						</div>
					</div>

					<!--Datas de exemplo-->
					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Data de disponibilidade*" />
							<h:selectOneMenu
								value="#{cadastrarProdutoBean.produto.dataDisponibilidade}"
								class="full-width habilitado" type="text" name="habilitado">
								<f:selectItems
									value="#{cadastrarProdutoBean.selectData}" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>



				<div class="col-top-buffer">
					<div class="col-xs-12">
						<div class="pull-right">
							<h:commandButton class="bradseg-btn red" value="Cadastrar"
								action="#{cadastrarProdutoBean.gravarProduto}" />
							<h:commandButton class="bradseg-btn red" onclick="window.history.back()" value="Voltar" />

						</div>
					</div>
				</div>
			</h:form>
		</div>


	</div>
			
			
		​
</h:body>
</html>