<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradesco.css" />


	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>



	<title>Cadastrar loja</title>
</h:head>

<h:body>
	<ui:include src="../../menu.xhtml" />
	<div id="guia-construcao" class="content col-12 col-lg-12">
		<div class="container">
			<h2 class="title-subsection font-red">Portal de Negócios do
				Parceiro</h2>

			<div class="row container">
				<h3 class="subtitle-section font-red">Cadastrar Loja</h3>
			</div>
			<h:form>
					<h5><h:outputText value="#{lojaBean.messageStatus}" /></h5><br />
				<br />
				<div class="row">
					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
						

								<h:outputLabel value="Nome*" />
								<h:inputText placeholder="Loja 1" class="full-width" maxlength="20" type="text"
									name="example" value="#{lojaBean.loja.nomeLoja}" id="nome"/>
									<p:watermark for="nome" value="Nome da Loja"/>
						</div>

					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Regional*" />
							<h:selectOneMenu class="full-width" type="text"
								value="#{lojaBean.loja.regional}">
								<f:selectItems value="#{lojaBean.selectReg}" />
							</h:selectOneMenu>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome do parceiro*" />
							<h:inputText placeholder="Nome do Parceiro" class="full-width" maxlength="30"
								type="text" name="example" value="#{lojaBean.loja.parceiro}" id="nomeParceiro"/>
							<p:watermark for="nomeParceiro" value="Nome do parceiro"/>
						</div>

					</div>

					<div class="col-12 col-lg-3 col-left pad-left">
						<div class="form-group">
							<h:outputLabel value="Diretoria*" />
							<h:selectOneMenu class="full-width" type="text"
								value="#{lojaBean.loja.diretoria}">
								<f:selectItems value="#{lojaBean.selectDir}" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-6 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Email*" />
							<h:inputText placeholder="Parceiro@..." maxlength="30"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.email}" id="email"/>
								<p:watermark for="email" value="Email@..."/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Telefone*" />
							<h:inputText placeholder="(99) 9999-9999" maxlength="15"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.telefone}" id="tel"/>
								<p:watermark for="tel" value="(99) 9999-9999"/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Celular*" />
							<h:inputText placeholder="(99) 99999-9999" maxlength="15"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.celular}" id="cel"/>
								<p:watermark for="cel" value="(99) 99999-9999"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="CEP*" />
							<h:inputText placeholder="00000-000" maxlength="9"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.cep}" id="cep"/>
								<p:watermark for="cep" value="00000-000"/>
						</div>
					</div>

					<div class="col-12 col-lg-5 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Endereço*" />
							<h:inputText placeholder="Av. Exemplo" maxlength="40"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.endereco}" id="endereco"/>
							<p:watermark for="endereco" value="Av. Exemplo"/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Número*" />
							<h:inputText placeholder="999" class="full-width habilitado" maxlength="5"
								type="text" name="habilitado" value="#{lojaBean.loja.numero}" id="numero"/>
								<p:watermark for="numero" value="999"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left">
						<div class="form-group">
							<h:outputLabel value="Indicador*" />
							<h:selectOneMenu class="full-width" type="text"
								value="#{lojaBean.loja.indicadorIsAtivo}">
								<f:selectItem itemValue="A" itemLabel="Ativo" />
								<f:selectItem itemValue="i" itemLabel="Inativo" />
							</h:selectOneMenu>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Bairro*" />
							<h:inputText placeholder="Nome do Bairro" class="full-width" maxlength="30"
								type="text" name="habilitado" value="#{lojaBean.loja.bairro}" id="bairro"/>
								<p:watermark for="bairro" value="Bairro"/>
						</div>
					</div>

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Cidade*" />
							<h:inputText placeholder="Nome da Cidade" class="full-width" maxlength="15"
								type="text" name="habilitado" value="#{lojaBean.loja.cidade}" id="cidade"/>
								<p:watermark for="cidade" value="Nome da cidade"/>
						</div>
					</div>

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Estado*" />
							<h:selectOneMenu placeholder="Selecione um estado"
								class="full-width" type="text" value="#{lojaBean.loja.estado}">
								<f:selectItem itemValue="SEL" itemLabel="Selecione um estado" />
								<f:selectItem itemValue="Ac" itemLabel="AC" />
								<f:selectItem itemValue="Al" itemLabel="AL" />
								<f:selectItem itemValue="Am" itemLabel="AM" />
								<f:selectItem itemValue="Ap" itemLabel="AP" />
								<f:selectItem itemValue="Ba" itemLabel="BA" />
								<f:selectItem itemValue="Ce" itemLabel="CE" />
								<f:selectItem itemValue="Df" itemLabel="DF" />
								<f:selectItem itemValue="Es" itemLabel="ES" />
								<f:selectItem itemValue="Go" itemLabel="GO" />
								<f:selectItem itemValue="Ma" itemLabel="MA" />
								<f:selectItem itemValue="Ms" itemLabel="MS" />
								<f:selectItem itemValue="Mt" itemLabel="MT" />
								<f:selectItem itemValue="Mg" itemLabel="MG" />
								<f:selectItem itemValue="Pa" itemLabel="PA" />
								<f:selectItem itemValue="Pb" itemLabel="PB" />
								<f:selectItem itemValue="Pe" itemLabel="PE" />
								<f:selectItem itemValue="Pi" itemLabel="PI" />
								<f:selectItem itemValue="Pr" itemLabel="PR" />
								<f:selectItem itemValue="Rj" itemLabel="RJ" />
								<f:selectItem itemValue="Rn" itemLabel="RN" />
								<f:selectItem itemValue="Ro" itemLabel="RO" />
								<f:selectItem itemValue="Rs" itemLabel="RS" />
								<f:selectItem itemValue="Rr" itemLabel="RR" />
								<f:selectItem itemValue="Sc" itemLabel="SC" />
								<f:selectItem itemValue="Se" itemLabel="SE" />
								<f:selectItem itemValue="Sp" itemLabel="SP" />
								<f:selectItem itemValue="To" itemLabel="TO" />
							</h:selectOneMenu>
						</div>
					</div>

					<div class="col-top-buffer">
						<div class="col-xs-12">
							<div class="pull-right">
								<h:form id="buttonForm">
									<h:commandButton class="bradseg-btn red" value="Cadastrar"
										action="#{lojaBean.gravarLoja}" />
									<h:commandButton class="bradseg-btn red" value="Voltar" />
								</h:form>


							</div>
						</div>
					</div>
				</div>
			</h:form>



		</div>
	</div>

</h:body>
</html>