<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet" href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="../../bootstrap/bradesco.css" />


	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>

	<title>Consultar Loja</title>
</h:head>

<h:body>
		<div id="guia-construcao" class="content col-12 col-lg-12">
			<div class="container">
				<h2 class="title-subsection font-red">Portal de Negócios do
					Parceiro</h2>

				<div class="row container">
					<h3 class="subtitle-section font-red">Consultar Loja</h3>
				</div>

				<div class="row">
					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome*" />
							<h:inputText placeholder="Loja 1" class="full-width" type="text"
								name="example"  value="#{lojaBean.loja.nomeLoja}" disabled="true"/>
						</div>

					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Regional*" />
							<h:inputText class="full-width" type="text" name="regional" value="#{lojaBean.loja.regional}" disabled="true"/>
						
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome do parceiro*" />
							<input placeholder="Nome do Parceiro" class="full-width"
								type="text" name="example" value="#{lojaBean.loja.parceiro}" disabled="true"/>
						</div>

					</div>

					<div class="col-12 col-lg-3 col-left pad-left">
						<div class="form-group">
							<h:outputLabel value="Diretoria*" />
							<h:inputText class="full-width"	type="text" value="#{lojaBean.loja.diretoria}" disabled="true"/>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-12 col-lg-6 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Email*" />
							<h:inputText placeholder="Parceiro@..."
								class="full-width habilitado" type="text" name="habilidade" value="#{lojaBean.loja.email}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Telefone*" />
							<h:inputText placeholder="(99) 9999-9999"
								class="full-width habilitado" type="text" name="habilidade" value="#{lojaBean.loja.telefone}" disable="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Celular*" />
							<h:inputText placeholder="(99) 99999-9999"
								class="full-width habilitado" type="text" name="habilidade" value="#{lojaBean.loja.celular}" disabled="true"/>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="CEP*" />
							<h:inputText placeholder="00000-000"
								class="full-width habilitado" type="text" name="habilidade"
								value="#{lojaBean.loja.cep}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-5 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Endereço*" />
							<h:inputText placeholder="Av. Exemplo"
								class="full-width habilitado" type="text" name="habilidade" value="#{lojaBean.loja.endereco}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-3 col-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Número*" />
							<h:inputText placeholder="999" class="full-width habilitado"
								type="text" name="habilitado" value="#{lojaBean.loja.numero}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left">
						<div class="form-group">
							<h:outputLabel value="Indicador*" />
						<h:inputText type="text" class="full-width" value="#{lojaBean.loja.indicadorIsAtivo}" disabled="true"/>
						</div>
					</div>

				</div>


				<div class="row">

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Bairro*" />
							<h:inputText placeholder="Nome do Bairro" class="full-width"
								type="text" name="habilitado" value="#{lojaBean.loja.bairro}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Cidade*" />
							<h:inputText placeholder="Nome da Cidade" class="full-width"
								type="text" name="habilitado" value="#{lojaBean.loja.cidade}" disabled="true"/>
						</div>
					</div>

					<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="Estado*" />
							<h:inputText class="full-width" type="text" value="#{lojaBean.loja.estado}" disabled="true"/>
						</div>
					</div>

				</div>





				<div class="row col-top-buffer">
					<div class="col-xs-12">
						<h:commandButton class="bradseg-btn red" onclick="window.history.back()" value="Voltar" />
					</div>
				</div>
			</div>
		</div>
</h:body>
</html>