<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradesco.css" />

	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>

	<title>Excluir Parceiro</title>
</h:head>

<h:body>
	<div id="guia-construcao" class="content col-12 col-lg-12">
		<div class="container">
			<h2 class="title-subsection font-red">Portal de Negócios do
				Parceiro</h2>

			<div class="row container">
				<h3 class="subtitle-section font-red">Consultar Parceiro</h3>
			</div>

			<div class="row">
				<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
					<div class="form-group">
						<h:outputLabel value="Nome do parceiro*" />
						<h:inputText placeholder="Nome do Parceiro" class="full-width"
							type="text" name="example"
							value="#{parceiroBean.parceiro.nmParceiro}" disabled="true" />
					</div>

				</div>

				<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
					<div class="form-group">
						<h:outputLabel value="CNPJ*" />
						<h:inputText value="#{parceiroBean.parceiro.cnpj}"
							placeholder="00.000.000/0000-00" class="full-width habilitado"
							type="text" name="habilidade" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-6 col-left pad-left">
					<div class="form-group">
						<h:outputLabel value="Segmento" />
						<h:inputText value="#{parceiroBean.parceiro.segmento}"
							class="full-width habilitado" type="text" name="habilidade"
							disabled="true" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-lg-6 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Email*" />
						<h:inputText value="#{parceiroBean.parceiro.email}"
							placeholder="Parceiro@..." class="full-width habilitado"
							type="text" name="habilidade" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Telefone*" />
						<h:inputText value="#{parceiroBean.parceiro.telefone}"
							placeholder="99 9999-9999" class="full-width habilitado"
							type="text" name="habilidade" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Celular*" />
						<h:inputText value="#{parceiroBean.parceiro.celular}"
							placeholder="(11) 99999-9999" class="full-width habilitado"
							type="text" name="habilidade" disabled="true" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="CEP*" />
						<h:inputText value="#{parceiroBean.parceiro.cep}"
							placeholder="00000-000" class="full-width habilitado" type="text"
							name="habilidade" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-5 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Endereço*" />
						<h:inputText value="#{parceiroBean.parceiro.endereco}"
							placeholder="Av. Exemplo" class="full-width habilitado"
							type="text" name="habilidade" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-3 col-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Número" />
						<h:inputText placeholder="999"
							value="#{parceiroBean.parceiro.numero}"
							class="full-width habilitado" type="text" name="habilitado"
							disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-2 col-left pad-left">
					<div class="form-group">
						<h:outputLabel value="Indicador*" />
						<h:inputText value="#{parceiroBean.parceiro.indicador}"
							class="full-width habilitado" type="text" name="habilitado"
							disabled="true" />
					</div>
				</div>

			</div>


			<div class="row">

				<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Bairro*" />
						<h:inputText value="#{parceiroBean.parceiro.bairro}"
							placeholder="Nome do Bairro" class="full-width" type="text"
							name="habilitado" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Cidade*" />
						<h:inputText value="#{parceiroBean.parceiro.cidade}"
							placeholder="Nome da Cidade" class="full-width" type="text"
							name="habilitado" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-4 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Estado*" />
						<h:inputText value="#{parceiroBean.parceiro.estado}"
							placeholder="Nome da Cidade" class="full-width" type="text"
							name="habilitado" disabled="true" />

					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-12 col-lg-5 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Nome do usuario*" />
						<h:inputText value="#{parceiroBean.parceiro.nmUsuario}"
							class="full-width" type="text" name="habilitado" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="CPF*" />
						<h:inputText value="#{parceiroBean.parceiro.cpf}"
							class="full-width" type="text" name="habilitado" disabled="true" />
					</div>
				</div>

				<div class="col-12 col-lg-3 col-left pad-left box-ident-inputs">
					<div class="form-group mask-options">
						<h:outputLabel value="Perfil*" />
						<h:inputText placeholder="Administrador Parceiro"
							class="full-width" type="text" name="habilitado"
							value="#{parceiroBean.parceiro.perfil}" disabled="true" />
					</div>
				</div>


			</div>


			<div class="row col-top-buffer">
				<div class="col-xs-12">
					<div class="form-group">
						<h:form>
							<h:inputHidden value="#{parceiroBean.parceiro.id}" />
							<h:outputLabel value="Deseja confirmar a exclusão do parceiro?" />
							<br />
							<h:commandLink class="bradseg-btn red" value="Sim"
								action="#{parceiroBean.excluirParceiro(parceiro.id)}" />
							<h:commandButton class="bradseg-btn red" value="Não"
								onclick="window.history.back()" />
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</div>
</h:body>
</html>