<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="../../bootstrap/bradescos" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bradseg_scripts.min.js"></script>
	
	<title>Excluir Usuário</title>
</h:head>

<h:body>
	<ui:include src="../../menu.xhtml"/>

	<div id="guia-construcao" class="content col-6 col-lg-12">
		<div class="container">
			<h2 class="title-subsection-mod font-red">Portal de Negócios do
				Parceiro</h2>
			<div class="row container">
				<h3 class="subtitle-section-mod font-red">Excluir Usuário</h3>
			</div>
			
			<h:form>
				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bar">
							<h:outputLabel value="Nome de Usuário" />
							<h:inputText disabled="true" placeholder="Nome do Usuário" class="full-width"
								type="text" name="example"
								value="#{usuarioBean.usuario.nmUsuario}" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group mask-options">
							<h:outputLabel value="CPF" />
							<h:inputText disabled="true" placeholder="000.000.000-00" class="full-width"
								type="text" name="example"
								value="#{usuarioBean.usuario.cpf}" />
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Perfil" />
							<h:inputText disabled="true" placeholder="Perfil" class="full-width"
								type="text" value="#{usuarioBean.usuario.perfil}"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label>Selecione abaixo</label> <input id="chk1" type="checkbox" value="#{usuarioBean.usuario.habilitado}"/><label
								for="chk1" style="padding-top: 20px;"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Diretor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<h:inputText disabled="true" placeholder="Nome" class="full-width"
							type="text" value="#{usuarioBean.usuario.cadastrante}"/>
						</div> 
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bar">
							<h:outputLabel value="Parceiro" />
							<h:inputText disabled="true" placeholder="Parceiro" class="full-width"
							type="text" value="#{usuarioBean.usuario.parceiro}"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left">
						<div class="form-group">
							<div class="form-group">
							<h:outputLabel value="Indicador*" />
							<h:inputText disabled="true" class="full-width habilitado" type="text" value="#{usuarioBean.usuario.indicador}"/>
						</div>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk2" type="checkbox" value="#{usuarioBean.usuario.habilitado}"/><label
								for="chk2" style="padding-top: 34px"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Gerente Regional</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<h:inputText disabled="true" placeholder="Nome" class="full-width" type="text" value="#{usuarioBean.usuario.cadastrante}"/>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Data Início*" />
							<h:inputText disabled="true" class="full-width" type="text" placeholder="Data Início" value="#{usuarioBean.usuario.dataInicio}"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Data Fim*" />
							<h:inputText disabled="true" class="full-width" type="text" value="#{usuarioBean.usuario.dataFim}"/>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk3" type="checkbox" value="#{usuarioBean.usuario.habilitado}"/><label
								for="chk3" style="padding-top: 34px"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Gerente Comercial</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade"/>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk">
							<label></label><input id="chk4" type="checkbox" value="#{usuarioBean.usuario.habilitado}" /><label
								for="chk4" style="padding-top: 34px"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Supervisor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>
					<div class="col-12 col-lg-2 col-left pad-left"></div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group bradseg-chk" >
							<input id="chk5" type="checkbox" value="#{usuarioBean.usuario.habilitado}"/><label
								for="chk5" style="padding-top: 49px"> <span class="checkBox"> <span
									class="icon-chk"></span>
							</span> <span class="text">Vendedor</span>
							</label>
						</div>
					</div>

					<div class="col-12 col-lg-2 col-left pad-left box-ident-inputs">
						<div class="form-group">
							<h:outputLabel value="Nome" />
							<input placeholder="Nome" class="full-width habilitado"
								type="text" name="habilidade" />
						</div>
					</div>
				</div>
				
				<div class="row col-top-buffer">
					<div class="col-xs-12">
						<div class="form-group">
						
							<h:inputHidden value="#{usuarioBean.usuario.id}" />
							<h:outputLabel value="Deseja confirmar a exclusão do usuário?" />
							<br />
							<h:commandLink class="bradseg-btn red" value="Sim" action="#{usuarioBean.excluirUsuario(usuario.id)}"/>
							<h:commandButton class="bradseg-btn red" value="Não" onclick="window.history.back()"/>
						
						</div>
					</div>
				</div>
			</h:form>
		</div>
	</div>

</h:body>
</html>