<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>

	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/bradseg_styles.min.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/inputStyle.css" />
	<link type="text/css" rel="stylesheet"
		href="../../bootstrap/stylesMod.min.css" />
	<link type="text/css" rel="stylesheet" href="../../bootstrap/bradescos" />



	<h:outputScript library="js" name="jquery-3.3.1.min.js" />
	<h:outputScript library="js" name="bradseg_scripts.min.js" />

	<style>
		label {font-size: 14px; margin-bottom: 15px; margin-top: 5px}
		select {margin-right: 15px}
		td {margin-right: 15px}
	</style>
</h:head>

<h:body>

	<div id="guia-construcao" class="content col-6 col-lg-12">
		<div class="container">
			<h2 class="title-subsection-mod font-red">Portal de Negócios do	Parceiro</h2>	
			
			
			<br/><br/><br/>
			<h:form>
				<h:panelGrid columns="3">
					<h:panelGrid columns="3" style="margin:15px">
						<h:outputLabel value="Nome de Usuário" style="" />
						<h:outputLabel value="CPF" />
						<h:outputLabel value="Perfil" />
						
						<h:inputText disabled="false" name="habilitado" value="#{usuarioBean.usuario.nmUsuario}">
							<f:passThroughAttribute name="placeholder" value="Nome de usuário" />
						</h:inputText>
						<h:inputText disabled="false" type="text" name="habilitado" value="#{usuarioBean.usuario.cpf}">
							<f:passThroughAttribute name="placeholder" value="000.000.000-00" />
						</h:inputText>
						<h:inputText disabled="false" name="habilitado" value="#{usuarioBean.usuario.perfil}">
							<f:passThroughAttribute name="placeholder" value="Supervisor" />
						</h:inputText>	
						
						<h:outputLabel value="Parceiro" />
						<h:outputLabel value="Indicador" />
						<h:outputLabel value="" />
						
						<h:inputText  disabled="false" name="habilitado" value="#{usuarioBean.usuario.parceiro}">
							<f:passThroughAttribute name="placeholder" value="Nome do parceiro	" />
						</h:inputText>
						
						<h:inputText  disabled="false" name="habilitado" value="#{usuarioBean.usuario.indicador}">
							<f:passThroughAttribute name="placeholder" value="Indicador" />
						</h:inputText>
						
						<h:outputLabel/>
						
						<h:outputLabel value="Data de inicio" />
						<h:outputLabel value="Data fim" />
						<h:outputLabel value="" />
						
						<h:inputText  disabled="false" name="habilitado" value="#{usuarioBean.usuario.dataDisponibilidade}">
							<f:passThroughAttribute name="placeholder" value="Selecione uma data" />
						</h:inputText>
						
						<h:inputText  disabled="false" name="habilitado" value="#{usuarioBean.usuario.dataDisponibilidade}">
							<f:passThroughAttribute name="placeholder" value="Selecione uma data" />
						</h:inputText>
						
						<h:outputLabel/>
										
					</h:panelGrid>
					<h:panelGrid columns="2">
						<h:outputLabel value="Selecione abaixo" />
						<h:outputLabel value="" />
						<h:selectBooleanCheckbox /> <h:outputLabel value="Gerente Regional"/>
						
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						
						<h:selectBooleanCheckbox /> <h:outputLabel value="Gerente Comercial"/>
						
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						
						<h:selectBooleanCheckbox /> <h:outputLabel value="Supervisor"/>
						
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						<h:outputLabel value="" /><h:outputLabel value="" />
						
						<h:selectBooleanCheckbox /> <h:outputLabel value="Vendedor"/>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputLabel value="Nome"/>
						<h:inputText value="#{usuarioBean.usuario.cadastrante}">
							<f:passThroughAttribute name="placeholder" value="Nome" />
						</h:inputText>
						<h:outputLabel value="Nome"/>
						<h:inputText value="#{usuarioBean.usuario.cadastrante}">
							<f:passThroughAttribute name="placeholder" value="Nome" />
						</h:inputText>
						<h:outputLabel value="Nome"/>
						<h:inputText value="#{usuarioBean.usuario.cadastrante}">
							<f:passThroughAttribute name="placeholder" value="Nome" />
						</h:inputText>
						<h:outputLabel value="Nome"/>
						<h:inputText value="#{usuarioBean.usuario.cadastrante}">
							<f:passThroughAttribute name="placeholder" value="Nome" />
						</h:inputText>
					</h:panelGrid>
				</h:panelGrid>
				
				<div class="col-top-buffer">
					<div class="col-xs-12">
						<div class="pull-right">
							<h:commandButton class="bradseg-btn red" value="Cadastrar"
								action="#{usuarioBean.alterarUsuario(usuario.id)}" />
							<h:commandButton class="bradseg-btn red" value="Voltar" />

						</div>
					</div>
				</div>
			</h:form>
		</div>
	</div>

</h:body>
</html>