@import '../fonts/_variables.scss';

@import '../fonts/_fonts.scss';

.hFont {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	text-align: center;
}

.top-block {
	padding: 6px 0;
	background-color: #cd2031;
	position: relative;
	z-index: 2;
}

.container-logo {
	padding: 20px 0px 20px 0px;
	background-color: white;
}

.logo-bradseg-mod {
	height: 35px;
	margin-top: 8%;
	margin-left: 6%;
	margin-right: 6%;
}

.logo-content {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.position {
	text-align: right;
}

.bs-breadcrumb-mod {
	background-color: #f4f4f6;
	padding: 15px 0;
	margin-top: 100px;
}

.bs-breadcrumb-mod li {
	display: inline-block;
	position: relative;
	text-align: left;
	;
}

.bs-breadcrumb-mod li:hover .bs-breadcrumb__submenu {
	display: block;
}

.bs-breadcrumb__link-mod {
	color: #4d4e53;
	font-family: "Montserrat";
	font-size: 0.875rem;
	margin-right: 15px;
}

@media ( min-width : 768px) {
	.bs-breadcrumb__link {
		font-size: 1.30rem;
		margin-left: 15px;
	}
}

.bs-breadcrumb__link:hover {
	text-decoration: underline;
}

.bs-breadcrumb__current {
	color: #4d4e53;
	font-family: "Montserrat";
	font-size: 0.875rem;
	font-weight: 700;
}

@media ( min-width : 768px) {
	.bs-breadcrumb__current {
		font-size: 1.30rem;
		margin-left: 15px;
	}
}

.bs-breadcrumb__icon {
	color: #e60935;
	display: inline-block;
	font-size: 0.625rem;
	margin: 0 8px;
}

@media ( min-width : 768px) {
	.bs-breadcrumb__icon {
		font-size: 0.75rem;
		margin: 0 10px;
	}
}

.bs-breadcrumb__submenu {
	background: #fff;
	border: 1px solid #e8e9ec;
	border-radius: 4px;
	display: none;
	left: -8px;
	min-width: 215px;
	position: absolute;
	top: 21px;
	z-index: 99;
}

.bs-breadcrumb__submenu li {
	display: block;
}

.bs-breadcrumb__sublink {
	display: block;
	font-size: 14px;
	padding: 11px 20px;
}

.bs-breadcrumb__sublink:hover {
	background-color: #f4f4f6;
}

.bs-caixa {
	margin: auto;
	margin-top: 150px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #e8e9ec;
}

.btn-position {
	position: relative;
	margin-top: 15px;
}

.ptop {
	padding-top: 35px;
}

.bradseg-bg-red {
	background-color: #e60935;
}

.bradseg-btn-mod, .bradseg-btn-mod:focus {
	background-color: #f4f4f6;
	color: #0b67bd;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: 1px solid #d2d4da;
	margin-right: 15px;
	padding: 18px 36px;
	outline: 0;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0
		rgba(255, 255, 255, .2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0
		rgba(255, 255, 255, .2);
	transition: all ease-in-out .15s, all ease-in-out .15s
}

.bradseg-btn-mod.red, .bradseg-btn-mod.red:focus {
	background-color: #cc092f;
	color: #fff;
	border-color: #99000f;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0
		rgba(255, 255, 255, .2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), inset 0 1px 0
		rgba(255, 255, 255, .2)
}

.bradseg-btn-mod.red:hover {
	background-color: #e60935
}

.bradseg-btn-mod.red:active {
	background-color: #cc092f;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

input[type="text"], input[type="number"], input[type="password"], select
	{
	height: 55px;
	background-color: #FFF;
	color: #4d4e53;
	font-size: 1.4em;
	border: 1px solid #d2d4da;
	border-radius: 2px;
	padding: 12px;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

​

      ​
div.custom_file_upload {
	width: 230px;
	height: 20px;
	margin: 40px auto;
}

input.file {
	width: 200px;
	height: 30px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-top-left: 2px;
	-moz-border-radius-bottom-left: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	outline: none;
}

div.file_upload {
	width: 80px;
	height: 30px;
	background: #e60935;
	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	color: #FFF;
	text-align: center;
	padding-top: 8px;
}

div.file_upload:before {
	content: 'Upload';
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

div.file_upload input {
	position: relative;
	height: 40px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}

.containerMod {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.ui-grid td {
	white-space: nowrap;
}

@media ( min-width :768px) {
	.containerMod {
		width: 750px
	}
}

@media ( min-width :992px) {
	.containerMod {
		width: 970px
	}
}

@media ( min-width :1200px) {
	.containerMod {
		width: 1170px
	}
}

.container-fluidMod {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}


.compoPadding {
	padding: 3px, 3px, 3px, 3px;
}
